<div class="post post-short post-micro {% if not post.title %}post--no-title{% endif %}  post--icon post--icon-micro">

        {% if post.title %}
        <h2>
            <a href="{{post.url()}}">{{post.title}}</a>
        </h2>
        {% endif %}

        {{ post.currentContent() | raw }}

    <div class="post-meta">
        {% include "post/_like.twig" %}
        <time class="post-meta__date">
            <a href="{{post.url()}}">{{post.date | htmlDate }}</a>
        </time>
    </div>
</div>
